.cart_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #333;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.cart-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}