.loading {
  margin: 280px auto 0;
  font-size: 2rem;
  animation: loading 1s infinite linear;
  width: 100%;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}